@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins:wght@100&family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

:root {
  --color-botones: #21dbc1;
  --color-hovers: ;
}

body {
  background-color: rgb(218, 210, 210);
}

.container {
  width: 75%;
  max-width: 1320px;
  margin: 0 auto;
}

.cnt-header {
  margin-top: 25rem;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background-color: white;
}

.logo-cnt {
  margin-left: 100px;
}

.nav-cnt ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  letter-spacing: 1px;
}

.nav-cnt a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.nav-cnt a:hover {
  border-bottom: 3px solid var(--color-botones);
  transition: all 0.1s ease;
  border-radius: 3px;
}

form {
  position: relative;
}

.lupa {
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 43px;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}

input {
  background-color: transparent;
  border-radius: 20px;
  height: 40px;
  padding-right: 50px;
  padding-left: 40px;
  opacity: 0.3;
}

input::placeholder {
  font-size: 1rem;
}

.user-btn ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  transform: scale(1.2);
}

.user-btn i:hover {
  opacity: 0.5;
}

.franco {
  height: 39px;
  width: 39px;
  border-radius: 30px;
  margin-right: 100px;
}
